<!DOCTYPE HTML>
<!--
	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= '../static/assets/css/main.css' />
		<link rel="stylesheet" href= '../static/assets/css/noscript.css' />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>NCAA to NBA</strong> <span>Comparing Statistics & Profiles</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/data">Data Comparison</a></li>
							<li><a href="generic.html">Map</a></li>
							<li><a href="/profile">Profile Chart</a></li>
						</ul>

					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>NCAA to NBA</h1> 
							</header>
							<div class="content">
								<p>A look at how NCAA players translate to the NBA<br />
								through advances statistics and physical profiles.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="../static/images/stephcurrycollege.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/data" class="link">Data</a></h3>
										<p>Individual Player Stats</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/marchmadnessbracket.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">College Map</a></h3>
										<p>College Players Grouped by Schools</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/deandre_ayton.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/profile" class="link">Profile Graphs</a></h3>
										<p>A look at how player profiles affect statistics in the NBA </p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="../static/images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="static/landing.html" class="link">Ipsum</a></h3>
										<p>Nisl sed aliquam</p>
									</header>
								</article>
								
			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>