<!DOCTYPE HTML>
<!--
	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Proposal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
		<link rel="stylesheet" href="static/assets/css/d3Style.css" />
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.css">
		<link rel="shortcut icon" href="">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>NCAA to NBA</strong> <span>Comparing Statistics & Profiles</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/data">Data Comparison</a></li>
							<li><a href="/map">Map</a></li>
							<li><a href="/profile">Profile Chart</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="static/images/pic01.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Project Goals</h1>
							</header>
							<div class="content">
								<p>What is the purpose of our project?</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
						<section id="one">
							<div class="inner">
								<header class="major">
									<h2>Topic</h2>
								</header>
								<p>The topic we’ve chosen is about basketball, specifically about how college basketball players
                                    translate from college to the NBA. This means we take a look at each player in the NBA today,
                                    and compare their career stats in the NBA, and their previous career stats in college. This is the
                                    same topic as we’ve chosen for Project 1 for our group, only this time we are now focusing more
                                    so on the visualization aspect of the data, as it's the requirement for Project 2. We chose this
                                    topic because we were inspired by the variability of something like the NBA Draft, where it is
                                    hard for GMs to find out how a player will play in the NBA from college, and we wanted to see
                                    if we could help clear up this draft process, and create visualizations, and eventually for Project
                                    3, predictive models that can help tell us how a player will do in the NBA from college stats.
                                    </p>
                                    <header class="major">
                                        <h2>Data</h2>
                                    </header>
                                    <p>The first dataset is from a sportsreference package that scrapes data fromBasketball-Reference.com, found on PyPi, and includes objects for both NBA players andCollege Players. This gives us most data for stats found in college and in the NBA. This is alsothe same dataset for player stats we used in Project 1. (​https://pypi.org/project/sportsreference/​)</p>
								<ul class="actions">
									<li><a href="landing.html" class="button next">Get Started</a></li>
								</ul>
							</div>
						</section>
					</div>

						
			</div>

		<!-- Scripts -->
			<script src="https://d3js.org/d3.v5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<script src="static/assets/js/profilelogic.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"></script>
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			

	</body>
</html>