<!DOCTYPE HTML>
<!--
	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>About/Inspiration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
		<link rel="stylesheet" href="static/assets/css/d3Style.css" />
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.css">
		<link rel="shortcut icon" href="">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>NCAA to NBA</strong> <span>Comparing Statistics & Profiles</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/data">Data Comparison</a></li>
							<li><a href="/map">Map</a></li>
							<li><a href="/profile">Profile Chart</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="static/images/pic01.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Project Goals/About</h1>
							</header>
							<div class="content">
								<p>What is the purpose of our project?</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
                        <section id="one">
                            <div class="inner">
                                <header class="major">
                                    <h2>Topic</h2>
                                </header>
                                <p>The topic we’ve chosen is about basketball, specifically about how college basketball players
                                    translate from college to the NBA. This means we take a look at each player in the NBA today,
                                    and compare their career stats in the NBA, and their previous career stats in college. This is the
                                    same topic as we’ve chosen for Project 1 for our group, only this time we are now focusing more
                                    so on the visualization aspect of the data. We chose this
                                    topic because we were inspired by the variability of something like the NBA Draft, where it is
                                    hard for GMs to find out how a player will play in the NBA from college, and we wanted to see
                                    if we could help clear up this draft process, and create visualizations, and eventually for Project
                                    3, predictive models that can help tell us how a player will do in the NBA from college stats.
                                    </p>
                                    <header class="major">
                                        <h2>Creating and Cleaning Data</h2>
                                    </header>
                                    <p>We have retrieved the raw data from sportsrefernec through web scraping. We cleaned up the raw data by only using columns that we believe is necessary to use for our presentation. After condensing the data set, we have noticed that some of the entries within NCAA have irregular negative values. We took the time to fix those entries manually within the python code. We have also replaced -999 or NaN values with 0 so the data can be properly read for graph and chart creation. We have also changed the name of the players so data sets will be consistent with the player’s name. With this process, we have created NBA Data and NCAA Data
                                        We merged the NBA Data with another dataset that contains which college each player has attended. With the merged dataset, we have found the coordinates (lat, lon) of the school by using Google Map API. We created a dataset that contains each players stat, school, and geocoordinate of the school. This dataset will be labeled as NBA Location
                                        With NBA location dataset, we created a dataset find the average NBA PPG, APG, and RPG for students from a specific school. We have created that by having the NBA Location dataset groupby school then finding the average for PPG, APG, and RPG. We label this data set as School Average.</p>
                                    <header class="major">
                                        <h2>MongoDB Atlas</h2>
                                    </header>
                                    <p>After creating those dataframe we have decided to load all these data into a cloud server. Flask will access the server when it tries to retrieve the data for Table. We have created an account on MongoDB Atlas in order to create a database with 4 collection (NBA Data, NCAA Data, NBA Location, School Average) within the cloud server.
                                        We are using cloud server because we have noticed that the web scraping will take around 15 minutes. To prevent the delay, we believe that accessing the completed data set in the cloud will be faster and more efficient for our project.</p>
                                    <img src = "../static/images/mongoAtlas.png" class="center">
                                    <ul class="actions">
                                </ul>
					</div>

						
			</div>

		<!-- Scripts -->
			<script src="https://d3js.org/d3.v5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<script src="static/assets/js/profilelogic.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"></script>
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			

	</body>
</html>