<!DOCTYPE HTML>
<!--
	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
		<link rel="stylesheet" href="static/assets/css/d3Style.css" />
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.css">
		<link rel="shortcut icon" href="">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>NCAA to NBA</strong> <span>Comparing Statistics & Profiles</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/data">Data Comparison</a></li>
							<li><a href="/map">Map</a></li>
							<li><a href="/profile">Profile Chart</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="static/images/pic01.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Profile Charts</h1>
							</header>
							<div class="content">
								<p>Based on college height and weight, how will a player fare over the course of their NBA career?</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<header>
									<h4 style = "text-align:center">Player Profile vs Stats per Game</h4>
								</header>
								<div id ="scatter"></div>
							</section>
						<!-- Two -->
						<section id="two">
							<div class="inner">
								<header class="major">
									<h2>Profile Analysis</h2>
								</header>
								<p>The graph above depicts what kind of stats are being outputed based on a given profile by NBA players that were developed at a NCAA school. By taking a look at both player height and weight (which does not vary significantly in this transition), the two statistical categories that exhibit the greatest trends and clusters are assists per game and rebounds per game. </p>
								<ul class="actions">
									<li><a href="landing.html" class="button next">Get Started</a></li>
								</ul>
							</div>
						</section>
					</div>

						
			</div>

		<!-- Scripts -->
			<script src="https://d3js.org/d3.v5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<script src="static/assets/js/profilelogic.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"></script>
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			

	</body>
</html>